<!doctype html>
<html ng-app='mainModule'>
  <head>
    <title>thinkofjava.io</title>
    <script src="assets/scripts/library/angular.js"></script>
    <script src="assets/scripts/library/angular-route.min.js"></script>
    <script src="assets/scripts/module.js"></script>
    
    <script src="assets/scripts/customRoute.js"></script>
    <script src="assets/scripts/controller/menuController.js"></script>
    <script src="assets/scripts/controller/contentController.js">
    </script>
    <script src="assets/scripts/courseService.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="outerDiv">
      <div ng-controller="MenuController" id='leftMenu'>
        <div ng-repeat="menu in menus">
          <div class='menu cursorPointer' ng-click='toggleMenu(menu.id)' ng-class="{fontBold: menu.isVisible}">{{$index+1}} - {{menu.name}}</div>
          <div ng-show='menu.isVisible' class="subMenuParent">
          <div class='cursorPointer subMenu' ng-repeat="subMenu in menu.subMenus" ng-click='loadContent(menu.id, subMenu.id)'>{{$index+1}} - {{subMenu.name}}</div>
          </div>
        </div>
      </div>
      
      <div id='rightContent'>
        <ng-view></ng-view>
      </div>
    </div>
  </body>
</html>