<div class="header1">Language Fundamentals</div>

<div class="header2">Java Identifiers</div>

<div class="header3">This is third header</div>

<p>A name in java programming is called identifiers which can be used for identitication purpose.</p>
<p>It can be method name, variable name, class name or label name.</p>

e.g.
<pre>
  <code class="box language-java">
    class Test{
      public static void main(String[] args){
        int x = 10; 
      }
    }
  </code>
</pre>


<p>In above example, there are 5 identifiers <br>
Test - class name <br>
main - method name <br>
String - pre-defined class name <br>
args - variable name of type string <br>
x - variable name of type int <br>
</p>